*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.nav1{
    height: 90px;
    width: 100%;
    background: black;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: relative;
    
}
.nav1 ul{
    color: white;
    display: flex;
    gap: 30px;
    list-style: none
}
ul li{
    font-weight: 500;
}
.nav1 button{
    padding: 8px 13px ;
    border-radius: 300px;
    border: none;
    background: rgb(255, 196, 0);
}
.nav1 i{
    color: white;
    font-size: 30px;
    display: none;
}












/* media cuery startttttttttttttttttttt */
@media (max-width: 950px) {
    .nav1 ul{
        position: absolute;
        right: 0;
        top: 100%;
        background: rgb(255, 196, 0);
        flex-direction: column;
        width: 150px;
        height: auto;
        align-items: center;
        

    }
    .nav1 button{
        display: none;
    }
 .nav1 i{
    display: block;
}

}







/* media query enddddddddddddddddddddd
 */








 .main-con{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    

 }
 .hero{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-image: url(../assets/slider-1.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .hero h1{
    font-size: 60px;
    color: white;
    font-weight: 500;
    padding-bottom: 30px;
    padding: 0 30px;
   
    
 }
 .hero h1 span{
    color:rgb(255, 196, 0) ;
 }
 .hero p{
    color: white;
    width: 45%;
    padding-bottom: 20px;
    padding: 0 30px;
   
    
  
 }
 .hero button{
    padding: 13px 40px;
    border-radius: 300px;
    border: none;
    background: rgb(255, 196, 0);
    margin-top: 20px;
    transform: translateX(20px);
   
}










/* media queryyy starttttttttttttttttttttt */

@media (max-width: 890px) {
    .hero h1{
        font-size: 40px;
        font-weight: 300;
    }
    .hero p{
        font-size: 15px;
        width: 60%;
    }
    .hero :no-button{
        padding: 10px 30px;
    }
}


@media (max-width: 650px) {
    .hero h1{
        font-size: 30px;
        
    }
    .hero p{
        width: 80%;
    }
    .hero button{
        padding: 8px 20px;
    }
    
}


/* media query endddddddddddddddddd */

  









.con1{
    height: auto;
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box1{
    height: 430px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    
}
.box1 div {
    
    height: 100%;
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: start;
    flex-direction: column;
}
.box1 div img{
    
    height: 100%;
  position: absolute;
    
}
.box1 div button{
    padding: 6px 20px;
    z-index: 10;
   margin-bottom: 250px;
   background:rgb(255, 196, 0) ;
   border: none;
   
    
}
.box1 div h1{
    color: white;
    z-index: 10;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
}
.box1 div p{
    color: white;
    font-size: 13px;
    z-index: 10;
    padding: 0 15px;
}





/* media query staarrrttttttttttttttttttttt */

@media (max-width:1300px) {
    .box1{
        height: auto;
        width: 100%;
        display: flex;
       
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
        
    }
    .box1 div{
        width: 100%;
        height: auto;
        align-items: center;
    }
    .box1 div img{
        width: 60%;
        height: 100%;
    }
    .box1 div p {
        margin: 10px 0;
        width: 40%;
    }
    .box1 div h1{
        padding-right: 60px;
    }
    
}

@media (max-width:550px) {
    .box1 div h1{
        font-size: 20px;
        padding: 0 10px;
    }
    .box1 div p{
        width: 55%;
    }
    
}




/* media query enddddddddddddddddddddddddddddd */






.con2{
    height: 100vh;
    width: 100%;
   background-image: url(../assets/recent-game-bg.png);
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.con2 button{
    padding: 6px 30px;
    margin-bottom: 10px;
    background: #f5114a;
    border: none;
}
.box2 div{
    height: 400px;
    width: 30%;
    background: #ffffff;
    flex-direction: column;
    display: flex;
    gap: 30px;
}
.box2{
    height: 70vh;
    width: 80%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.box2 div img{
    height: 200px;
    width: 100%;
}
.box2 div h1{
    font-size: 20px;
    font-weight: 400;

}
.box2 div p{
    font-size: 14px;
    font-weight: 200;
}







/* media query startttttttttttttttttt */

@media (max-width: 650px) {
    .box2{
        flex-direction: column;
        height: auto;
        width: auto;
        justify-content: space-evenly;
    }
    .box2 div{
        height: auto;
        width: auto;
    }
}



/* media query endddddddddddddddddd */











.con3{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../assets/pattern.png);
    justify-content: space-evenly;
}
.con3-box{
    height: 280px;
    width: 37%;
    background: rgba(0, 0, 0, 0.418);
   align-items: center;
    display: flex;
    
}
.con3 div img{
    height: 60%;
    width: 30%;
    padding-left: 10px;
}

.con3-content{
    height: 100%;
    width:70%;
   gap: 10px;
    flex-direction: column;
    display: flex;
}
.con3-content h1{
    font-size: 33px;
    font-weight: 500;
    color: rgb(255, 196, 0);
    padding: 20px 10px;
}
.con3-content p{
    padding: 0 20px;
    color: white;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.295);
}
.prizes{
    color:rgb(255, 196, 0) ;
}
.date{
    color: white;
    font-size: 15px;
}





/* media query startttttttttttttt */
@media (max-width: 980px) {
    .con3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;

    }
    .con3-box{
        height: 80%;
        width: 60%;
    }
    
}
@media (max-width: 450px) {
    .con3-box{
        height: 60%;
        width: 70%;
    }
}


/* media query enddddddddddddddd */





.con4{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/review-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.con4-box1{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.con4-box1 button{
    padding: 6px 30px;
    border: none;
    background: #f5114a;
    
}
.con4-box2{
    height: 80%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.con4-cards{
    height: 80%;
    width: 22%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.con4-cards img{
    height: 60%;
    width: 100%;
}

.con4-cards h1{
    font-size: 30px;
    font-weight: 500;
}
.con4-cards p{
   padding-left: 20px;
   color: rgba(0, 0, 0, 0.418);
}




/* media query startttttttttttt */
@media (max-width: 950px) {
    .con4-box2{
        display: flex;
       flex-direction: column;
        height: auto;
        width: auto;
        
    }
    .con4-cards{
        height: 40%;
        width: 60%;
    }
    @media (max-width:430px) {
        .con4-cards{
            height: 30%;
            width: 70%;
        }
        
    }

}


/* media query enddddddddddddddd */



.con5{
    height: 90vh;
    width: 100%;
    background-image: url(../assets/pattern.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.con5-box{
    height: 90vh;
    width: 30%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url(../assets/footer-top-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.con5-box img{
    height: 50px;
    width: 300px;
    padding-top: 20px;
}
.con5-box p{
    padding: 15px 30px;
    color: rgba(255, 255, 255, 0.466);
}

.con5-card1{
    height: 80vh;
    width: 25%;
    background: rgba(0, 0, 0, 0.418);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.con5-card1 h1{
    color: white;
}

.con5-3d{
    height: 100px;
    width: 100%;
    background: black;
    display: flex;
    background: transparent;
}
.div-3d1{
    height: 100%;
    width: 30%;
   
}
.div-3d1 img{
    height: 100%;
    width: 100%;
    padding: 0 5px;
}
.div-3d2{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    background: transparent;
}
.div-3d2 p{
    font-size: 12px;
    color: white;
    padding: 5px 10px;

}
.con5 span{
    color: rgb(255, 196, 0);
}







.con5-card2{
    height: 80vh;
    width: 25%;
    background: rgba(0, 0, 0, 0.418);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.con5-card2 h1{
    color: white;
}





/* media query starttttttttttttttttt */
@media (max-width: 1050px) {
    .con5{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    }
    .con5-box{
       width: 70%;
    }
    .con5-card1{
        width: 60%;
    }
    .con5-card2{
        width: 60%;
    }
}

@media (max-width: 450px) {
    .con5-card1{
        width: 70%;
    }
    .con5-card2{
        width: 70%;
    }
}
/* media query enddddddddddddddddddd */

.nav2{
    height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.856);
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: relative;
    
}
.nav2 ul{
    color: white;
    display: flex;
    gap: 30px;
    list-style: none
}
 .nav2 ul li{
    font-weight: 500;
}






/* media query startttttttttttttttttttt */
@media (max-width:100px) {
    .nav2{
        height: 90px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}



/* media query endddddddddddddddddddddddd */